%h1 Mises pour l'initiative

= form_tag player_initiative_bet_save_path( @player ) do
  .row

    .col-3
      %button.btn.btn-secondary.btn-block{ type: :button }
        PP actuels
        %span.badge.badge-light
          = @player.pp

    .col-3
      = number_field_tag :pp, @player.initiative_bet, class: 'form-control', min: 0, max: @player.pp

    .col-3
      = submit_tag 'Enregistrer', class: 'btn btn-secondary btn-block'
