%p#notice= notice

= link_to 'Ajouter une bande', new_campaign_gang_path( @campaign )

%hr

.row

  .col-3
    %button.btn.btn-secondary.btn-block{ type: :button }
      Joueur
      %span.badge.badge-light
        = @player.user.name

  .col-3
    %button.btn.btn-secondary.btn-block{ type: :button }
      PP
      %span.badge.badge-light
        = @player.pp

%hr

