%table.table
  %thead
    %tr
      %th Unité
      %th Pertes
      %th Unité détruite

  %tbody
    - bc&.each do |casualties|
      %tr
        %td= casualties.name.upcase_first
        %td= casualties.units_lost
        %td= casualties.destroyed? ? 'Oui' : 'Non'
