#fight_results

  %h1 Rapport de bataille

  Entrez le nombre d'unités restante après la bataille.

  %h2 Attaquant
  = render partial: 'gang_report', locals: { units: @attacking_units }

  %h2 Defenseur
  = render partial: 'gang_report', locals: { units: @defending_units }
