%h1 Ordre de jeu des joueurs

%ul#sortable.list-group.mt-3
  - @campaign.players.order( :initiative ).includes( :user ).each do |player|
    %li.list-group-item{ player_id: player.id }
      %span{  player_id: player.id }
        = player.user.name

= hidden_field_tag :campaign_id, @campaign.id