- if @involved_player

  = form_tag player_choose_faction_save_path( @involved_player ) do |f|

    %b
      Faction
    = select_tag(:faction, options_for_select(@select_factions_options), class: 'form-control')

    .actions.mt-2
      = submit_tag 'Enregistrer', class: 'btn btn-secondary'

- else
  %h1
    Vous n'êtes pas inscrit à cette campagne.
