#map
  = image_tag 'map_2_small.jpg'

  - @gangs.each do |gang|
    = image_tag( 'gangs_icons/' + gang.icon, class: 'on_map_gang_icon', style: @map.position_style( gang.location ) + 'fill:orange' )

  - @campaign.players.each do |player|
    - if player.user_id == 1
      - player.controls_points&.each do |l|
        .horde_marker{ style: @map.marker_position_style( l ) }
          X
    - else
      - player.controls_points&.each do |l|
        .empire_marker{ style: @map.marker_position_style( l ) }
          X





